<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497696633093-jffq7ucheb37sdcg4h5tplea3imaso6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497696633093-jffq7ucheb37sdcg4h5tplea3imaso6t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497696633093-fm5249f4nbfg2ufot1pq5ekdfspab05f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIQS9H4Rv4aic7qBwQ9otE3oc85qh_5zY</string>
	<key>GCM_SENDER_ID</key>
	<string>497696633093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.creditcardfees</string>
	<key>PROJECT_ID</key>
	<string>creditcardfees-131f1</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcardfees-131f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497696633093:ios:128061b602fa125080076c</string>
</dict>
</plist>